<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ctrl.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAddFormServlet</servlet-name>
        <servlet-class>ctrl.CreateAddFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSongsServlet</servlet-name>
        <servlet-class>ctrl.AddSongsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarCancionesServlet</servlet-name>
        <servlet-class>ctrl.CargarCancionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSongServlet</servlet-name>
        <servlet-class>ctrl.UpdateSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalirServlet</servlet-name>
        <servlet-class>ctrl.SalirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCancionServlet</servlet-name>
        <servlet-class>ctrl.EditarCancionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LimpiarSesionServlet</servlet-name>
        <servlet-class>ctrl.LimpiarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCancion</servlet-name>
        <servlet-class>ctrl.BorrarCancion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAddFormServlet</servlet-name>
        <url-pattern>/CreateAddForm.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSongsServlet</servlet-name>
        <url-pattern>/AddSongs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarCancionesServlet</servlet-name>
        <url-pattern>/CargarCanciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSongServlet</servlet-name>
        <url-pattern>/UpdateSong.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalirServlet</servlet-name>
        <url-pattern>/Salir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCancionServlet</servlet-name>
        <url-pattern>/EditarCancion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LimpiarSesionServlet</servlet-name>
        <url-pattern>/LimpiarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCancion</servlet-name>
        <url-pattern>/BorrarCancion.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
